repos:
  - repo: local
    hooks:
      - id: swift-format-fix
        name: swift format fix
        entry: swift format --in-place --recursive Sora SoraTests
        language: system
        files: '^(Sora|SoraTests)/.*\\.swift$'
        stages: [pre-commit]
      - id: swift-format-check
        name: swift format check
        entry: swift format lint --strict --parallel --recursive Sora SoraTests
        language: system
        files: '^(Sora|SoraTests)/.*\\.swift$'
        stages: [pre-commit]
      - id: swiftlint-fix
        name: SwiftLint fix
        entry: swift package plugin --allow-writing-to-package-directory swiftlint --fix .
        language: system
        files: '^(Sora|SoraTests)/.*\\.swift$'
        stages: [pre-commit]
      - id: swiftlint-check
        name: SwiftLint check
        entry: swift package plugin --allow-writing-to-package-directory swiftlint --strict .
        language: system
        files: '^(Sora|SoraTests)/.*\\.swift$'
        stages: [pre-commit]
