name: Build

on:
  push:
    paths-ignore:
    - 'README.md'
    - 'CHANGES.md'
    - 'LICENSE'
    - 'Sora.podspec'
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    runs-on: macos-12
    env:
      XCODE: /Applications/Xcode_13.4.1.app
      XCODE_SDK: iphoneos15.5
    steps:
    - uses: actions/checkout@v2
    - name: Select Xcode Version
      run: sudo xcode-select -s '${{ env.XCODE }}/Contents/Developer'
    - name: Show Xcode Version
      run: xcodebuild -version
    - name: Show CocoaPods Version
      run: pod --version
    - name: Restore Pods
      uses: actions/cache@v2
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pods-
    - name: Install Dependences
      run: |
        rm Podfile && mv Podfile.dev Podfile
        pod repo update
        pod install
    - name: Build Xcode Project
      run: |
        set -o pipefail && \
          xcodebuild \
            -workspace 'Sora.xcworkspace' \
            -scheme 'Sora' \
            -sdk ${{ env.XCODE_SDK }} \
            -configuration Release \
            -derivedDataPath build \
            clean build \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_IDENTITY= \
            PROVISIONING_PROFILE=
    - name: Check uncommitted unformatted code
      run: |
        ./lint-format.sh
  release:
    if: contains(github.ref, 'tags/v')
    needs: [build]
    runs-on: macOS-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

